/venv
/.idea
/static

deb.json
*.db

# Release configuration
config.py
__pycache__/
core/__pycache__/
cron/__pycache__/
database/__pycache__/
database/actions/__pycache__/
database/client/__pycache__/
database/core/__pycache__/
database/schemas/__pycache__/
logs/
middleware/__pycache__/
routers/__pycache__/
wow/__pycache__/
wow/api/__pycache__/
wow/blizzard/__pycache__/
wow/database/__pycache__/
wow/downloaders/__pycache__/
wow/interface/__pycache__/
wow/router/__pycache__/
wow/updater/__pycache__/
wow/utils/__pycache__/
yarn-error.log
